@import '../../../assets/styles/mixins';
.hero {
  margin-bottom: 83px;
}
.hero-wrapper {
  position: relative;
}
.hero-img {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
}
.hero-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px;
}
.hero-title {
  max-width: 380px;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.hero-btn-wrapper {
  @include flex(space-between);
}
.hero-btn {
  font-family: 'Inter';
  display: block;
  padding: 12px 20px;
  border-radius: 16px;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #009688;
  background-color: #fff;
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;

  &:hover {
    background-color: #009688;
    color: #fff;
  }
}
.right-btn-wrapper {
  @include flex(center);
  gap: 15px;
}
.right-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: #b9e9e4;
  }
}
@include respond(phone) {
  .hero {
    margin-bottom: 40px;
  }
  .hero-img {
    width: 100%;
    border-radius: 12px;
  }

  .hero-content {
    padding: 20px;
  }

  .hero-title {
    font-size: 16px;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .hero-btn {
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 8px;
  }

  .right-btn-wrapper {
    display: none; // phone da butunlay yashirin bo'ladi
  }
}
