.members {
  padding-top: 100px;
  padding-bottom: 75px;
  &__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
